@use './variables' as *;

.collapsible {
  background: $bg-color-section;
  // box-shadow: 0px 10px 15px -3px $bg-color-section;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);

  &__header {
    padding: $padding calc($padding + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: $bg-color-light;
    border: 3px solid;
    border-color: $bg-color-light;

    h2 {
      font-size: 1.2rem;
      color: $text-color-light;
      font-weight: 900;
      margin: 0;
    }
  }

  &__icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
    &.open {
      transform: rotate(0deg);
    }

    &:not(.open) {
      transform: rotate(-90deg);
    }
  }

  &__content {
    transition: max-height 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    padding: calc($padding + 30px);
    display: none;

    &.open {
      display: block;
      pointer-events: auto;
    }
  }

  // Add dark mode styles
  @media (prefers-color-scheme: dark) {
    background: $bg-color-dark;

    &__header {
      background: $bg-color-dark;
      // border-color: $bg-color-dark;

      h2 {
        color: $text-color-dark;
      }
    }
  }
}
